/*  your css code here. If applicable */
.star{
	background-color:yellow;
	height:100px;
	width:100px;
	clip-path:polygon(
		50% 0%, /* top point */
        61% 35%, /* top right */
        98% 35%, /* right */
        68% 57%, /* bottom right */
        79% 91%, /* bottom */
        50% 70%, /* center bottom */
        21% 91%, /* bottom left */
        32% 57%, /* bottom right */
        2% 35%, /* left */
        39% 35%  /* top left */
		
	);
}

.star{
	/* background-color:yellow; */
	/* width:100px;
	height:100px; */
	border-bottom:100px solid rgb(255, 255, 0);
	border-left:50px solid rgba(0, 0, 0, 0);
	border-right:50px solid rgba(0, 0, 0, 0);
	border-bottom-color:rgb(255, 255, 0);
}